@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
   height: 100vh;
}

header h1, header p {
   font-family: "Oswald", sans-serif;
   text-align: center;
}

header {
   color: #ffffff;
   background-image: linear-gradient(to top, var(--cor5), var(--cor3));
   padding: 1rem 0;
   text-shadow: 0.2rem 0.2rem 0.5rem #0e331f;
}

header h1 {
   font-size: 3.5rem;
   font-weight: 400;
}

header p {
   font-size: 1.8rem;
   font-weight: 300;
   max-width: 300px;
   margin: 2rem auto;
}

header nav a {
   font-size: 1.6rem;
   color: var(--cor1);
   padding: 1rem;
   text-decoration: none;
   transition-duration: 0.5s;
}

header nav a:hover {
   filter: brightness(0.6);
}

footer {
   font-size: 1.4rem;
   padding: 1rem;
   background-color: var(--cor5);
   color: #ffffff;
   text-align: center;
}