.main aside {
  width: 60vw;
  display: block;
  margin: 3rem auto;
  padding: 1rem;
  background-color: #84e1ac86;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #00000065;
}

.main aside h4 {
  font-size: 1.5rem;
  background-color: var(--cor4);
  color: #ffffff;
  padding: 10px;
  margin: -1rem -1rem 0 -1rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 2rem;
}

.main aside ul {
  font-size: 1.5rem;
  line-height: 3rem;
  list-style-position: inside;
  list-style-type: '\2714\00A0';
  text-indent: 1rem;
  columns: 2;
}

@media (max-width: 426px) {
   .main aside ul {
      columns: 1;
   }
}