.main .video {
  margin: rem;
  padding: 20px;
  padding-bottom: 56.6%;
  position: relative;
}

.main .video iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

@media (max-width: 769px) {
   .main .video {
    margin: 5rem 0 100%;
   }

   .main .video iframe {
    height: 80%;
   }
}